node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
# =========================
# Python & Machine Learning
# =========================

# Virtual Environments
venv/
env/
.env_python/
.venv/

# PyTorch / YOLO Models
*.pt
*.pth
yolov8n.pt

# Python Cache (Compiled bytecode)
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/